<header class="header">
  <img src="../../assets/img/h-bg.png" alt="" class="background-hero">
  <img src="../../assets/img/background-pattern.png" alt="" class="background-pattern">
  <div class="wrapper">
      <!-- Gen Info -->
    <div class="info">
      <img src="../../assets/img/product-image-1.png">
      <ul>
        <li>
          <b>Nxit</b> djegien aktive te yndyrnave menjëherë pas përdorimit.
        </li>
        <li>
          <b>Humbje peshe</b> pa sforcim fizik.
        </li>
        <li>
          Perberes <b>100% natyrore.</b>
        </li>
        <li>
          Lufton<b> yndyrën "e keqe"</b> të organeve të brendshme.
        </li>
        <li>
          Është një <b>sukses botëror</b> në fushën e dietologjisë.
        </li>
      </ul>
    </div>
    <!-- / Gen Info -->

    <!-- Input Form -->
      <app-order-form></app-order-form>
    <!-- /Input Form -->
  </div>
</header>
