header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: #6155a6;
  display: flex;
  position: relative;
}

.background-pattern{
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 115vh;
}

.background-hero{
  color: #999999;
  position: absolute;
  top: -5em;
  left: 0;
  z-index: -99;
  height: 100vh;
}

.wrapper{
  width: 64%;
  display: flex;
  flex-direction: row;
  height: fit-content;
  position: relative;
  left: 33vw;
  margin: auto 0;
  border-radius: 30px;
  background: linear-gradient(145deg, rgba(97,85,166,0.7) 0%, rgba(166,133,226,0.5) 25%, rgba(255,171,225,0.5) 75%, rgba(255,230,230,0.5) 100%);
  backdrop-filter: blur(15px);
}

.info{
  font-size: 1.5em;
  margin: auto 1.5em;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  img{
    width: 20em;
    margin: -1.5em auto;
  }
}

