<header class="header">

<div class="wrapper">
      <!-- Gen Info -->
    <div class="info">
      <img src="../../assets/img/product-image-1.png" class="prod-img">
      <ul>
        <li>
          <b>Nxit</b> djegien aktive te yndyrnave menjëherë pas përdorimit.
        </li>
        <li>
          Lufton<b> yndyrën "e keqe"</b> të organeve të brendshme.
        </li>
        <li>
          <b>Humbje peshe</b> pa sforcim fizik.
        </li>
        <li>
          <b>Është një sukses</b> botëror në fushën e dietologjisë.
        </li>
      </ul>
    </div>
    <!-- / Gen Info -->

    <div class="form">
      <!-- Input Form -->
      <app-order-form></app-order-form>
      <!-- /Input Form -->
    </div>
  </div>

</header>
