<header class="header">
    <!-- Logo and bestseller -->
    <div class="logo">
      <img src="../../img/logo.png">
    </div>
    <!-- / Logo and bestseller -->

    <!-- List of pros -->
    <div class="pros">
      <ul>
        <li>
          <b>Nxit</b> djegien aktive te yndyrnave menjëherë pas përdorimit.
        </li>
        <li>
          Lufton<b> yndyrën "e keqe"</b> të organeve të brendshme.
        </li>
        <li>
          <b>Humbje peshe</b> pa sforcim fizik.
        </li>
        <li>
          <b>Është një sukses</b> botëror në fushën e dietologjisë.
        </li>
      </ul>
    </div>
    <!-- / List of pros -->

    <!-- Input Form -->
    <app-order-form></app-order-form>
    <!-- /Input Form -->
</header>
