<div class="wrapper">
    <h1>SLIM FIT PERMBAN:</h1>
    <p>(Kliko per te mesuar me shume)</p>

    <div class="permbajtja">
      <div class="perberes">
        <a href="https://www.healthline.com/nutrition/garcinia-cambogia-weight-loss" target="_blank">
          <img src="../../assets/img/perberes-1.jpg.png" alt="">
        </a>
      </div>
      <div class="perberes">
        <a href="https://www.verywellfit.com/african-mango-for-weight-loss-90046" target="_blank">
          <img src="../../assets/img/perberes-2.png" alt="">
        </a>
      </div>
      <div class="perberes">
        <a href="https://www.timesnownews.com/health/article/dandelion-tea-benefits-for-weight-loss-how-to-make-and-use-dandelion-coffee-for-reducing-belly-fat/545801#:~:text=Drinking%20dandelion%20tea%20may%20aid,retaining%20water%20for%20some%20reason." target="_blank">
          <img src="../../assets/img/perberes-3.png" alt="">
        </a>
      </div>
      <div class="perberes">
        <a href="https://www.peacehealth.org/medical-topics/id/hn-3906002" target="_blank">
          <img src="../../assets/img/perberes-4.png" alt="">
        </a>
      </div>
      <div class="perberes">
        <a href="https://www.healthline.com/nutrition/goldenrod#intro" target="_blank">
          <img src="../../assets/img/perberes-5.png" alt="">
        </a>
      </div>
    </div>
  </div>
