.wrapper{
  margin: 5em auto;
  width: 75%;
  h1{
    font-size: 2.5em;
    line-height: 1.3em;
    color: #6155a6;
    font-weight: bold;
  }
  p{
    font-size: 1.5em;
    line-height: 1.3em;
    color: #a685e2;
  }
}

.permbajtja{
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 5em auto;
  .perberes{
    width: 200px;
    opacity: 0.7;
    transition: all 250ms ease-in-out;
    img{
      width: 90%;
    }
  }
  .perberes:hover{
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
  }

}

@media only screen and (max-width: 1422px) {
}

@media only screen and (max-width: 1142px) {

}

@media only screen and (max-width: 530px) {
  .wrapper{
    text-align: center;
    margin: 0px;
    padding: 7em 0;
    width: 100%;
    background: linear-gradient(100deg, rgba(255,222,241,1) 0%, rgba(255,255,255,1) 100%);
  }

  .permbajtja{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em auto;
    .perberes{
      margin: 10px auto;
      width: 80%;
      opacity: 0.9;
      transition: all 250ms ease-in-out;
      img{
        width: 60%;
      }
    }
  }
}
