<section class="bg_2" id="art2">
  <div class="mw is-grid">
    <div class="col c-6">
      <h2>
        Sa shpejt?
      </h2>
      <br>
    </div>
    <div class="col c-6">
      <h4 class="color_alt">
        Të dhëna të bazuara nga studime klinike
      </h4>
    </div>
  </div>
  <div class="mw">
    <ul class="cards is-grid type_2">
      <li>
        <figure>
          <div class="people-perc">
            <img src="../../assets/img/a2-1.svg">
            <div class="people-perc-txt">
              të personave
            </div>
          </div>
          <figcaption>
            <p>
              7-10 kg
              <br>
              në muaj
              <br>
            </p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="people-perc">
            <img src="../../assets/img/a2-2.svg">
            <div class="people-perc-txt">
              të personave
            </div>
          </div>
          <figcaption>
            <p>
              5-7 kg
              <br>
              në muaj
              <br>
            </p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="people-perc">
            <img src="../../assets/img/a2-3.svg">
            <div class="people-perc-txt">
              të përsonave
            </div>
          </div>
          <figcaption>
            <p>
              Më pak se 5 kg
              <br>
              në muaj
              <br>
            </p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="people-perc">
            <img src="../../assets/img/a2-4.svg">
            <div class="people-perc-txt">
              të përsonave
            </div>
          </div>
          <figcaption>
            <p>
              Më shumë se 10 kg<br> në muaj
              <br>
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
