.container{
  width: 100%;
  padding: 5em auto;
}

.wrapper{
  --accent-color: #6155a6;
  display: flex;
  margin: auto;
  width: 75%;
  flex-direction: column;
  height: 90vh;
}

.top{
  h1{
    font-size: 2.5rem;
    line-height: 1.3em;
    color: #6155a6;
  }
  p{
    font-size: 1.5rem;
    line-height: 1.3em;
    color: #a685e2;
  }
}

.body-parts{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
}

.human-body {
  align-self: baseline;
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: 64px 135px 64px;
}

.human-body path{
  fill: var(--accent-color);
  transition: all 100ms ease-in-out;
}

.human-body svg:hover {
  cursor: pointer;
}

.human-body svg:hover path {
  fill: #ffabe1;
}

.human-body svg.yellow path {
  fill: #ffabe1;
}

.human-body svg.head {
  grid-area: 1 / 2;
  justify-self: center;
}

.human-body svg.upper_body {
  justify-self: center;
  margin-top: -4px;
  grid-area: 2 / 2;
}

.human-body svg.lower_body {
  justify-self: center;
  margin-top: -58px;
  grid-area: 3 / 2;
}

.human-body svg.right_arm {
  margin-top: 31px;
  margin-left: 22px;
  grid-area: 2 / 1;
}

.human-body svg.left_arm {
  margin-top: 31px;
  margin-left: -28px;
  grid-area: 2 / 3;
}

.human-body svg.right_leg {
  margin-top: -20px;
  margin-left: 84px;
  grid-area: 4 / 1;
}

.human-body svg.left_leg {
  margin-top: -20px;
  margin-left: -62px;
  grid-area: 4 / 3;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}

.cards div{
  border-radius: 10px;
  padding: 1em 2em;
  box-shadow: 3px 3px 7px rgba($color: #6155a6, $alpha: 0.5);
  height: fit-content;
  margin: 0.5em;
  transition: all 250ms ease-in-out;
  justify-content: center;
  background-color: #6155a6;
  color: white;
}

.cards p{
  margin: 0;
}

img{
  width: 100px;
  filter: invert(180);
}

.cards .selected{
  background-color: #ffabe1;
  box-shadow: inset 5px 5px 15px rgba($color: #6155a6, $alpha: 0.7);
  color: black;
  cursor: pointer;
  img{
    filter: invert(0);
  }
}

@media only screen and (max-width: 1422px) {
}

@media only screen and (max-width: 1142px) {

}

@media only screen and (max-width: 842px) {

}

@media only screen and (max-width: 530px) {
  .container{
    width: 100%;
    background: linear-gradient(100deg, rgba(253,233,247,1) 0%, rgba(255,255,255,1) 100%);
  }

  .wrapper{
    width: 90%;
    margin-bottom: 5em;
    text-align: center;
  }

  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img{
    width: 5em;
    filter: invert(180);
  }

  .human-body{
    display: none;
  }
}
