        <!-- Red Covid Info -->
        <app-covid-warning></app-covid-warning>
        <!-- / Red Covid Info -->

        <!-- Top Banner -->
        <app-top-banner></app-top-banner>
        <!-- / Top Banner -->

        <!-- Main -->
        <!-- Header -->
        <app-header></app-header>
        <!-- / Header -->

        <!-- Content -->
		    <main class="main-content">

        <!-- Section 1 -->
        <app-human-body></app-human-body>
        <!-- /Section 1 -->

          <!-- Zonat e reduktimit te dhjamit-->
          <!-- <app-human-body></app-human-body> -->
          <!-- / Zonat e reduktimit te dhjamit -->

          <!-- Te dhena kohore -->
          <!-- <app-time-for-effect></app-time-for-effect> -->
          <!-- / Te dhena kohore -->

          <!-- Before-After Section -->
          <!-- <app-before-after></app-before-after> -->
          <!-- / Before-After Section -->

          <!-- Order Section -->
          <!-- <section class="bg_4" id="art4">
            <div class="mw is-grid">
              <div class="col c-6">
                <h3>
                  Shumë nga ata që kanë humbur peshë me Keto Light
                  <strong>
                  nuk kishin mundur të humbisnin peshë për vite me rradhë!
                  </strong>
                </h3>
                <p>
                  Nutricionistët kryesorë në botë e kanë quajtur tashmë Keto Light shpëtimin e njerëzimit nga mbipesha. Tashmë ka shpresat më të larta dhe mjeti  ka hyrë në programet shtetërore për humbjen e peshës në disa vende të Evropës.
                </p>
                <button class="sm-center btn type_0 modal ever-popup-btn" style="margin-top: 10px;display: block;" href="#">
                Porosit Keto Light
                </button>
              </div>
              <div class="col c-6">
                <figure>
                  <img src="../../assets/img/a4.png">
                </figure>
              </div>
            </div>
          </section> -->
          <!-- / Order Section -->

          <!-- How it works -->
          <!-- <section class="bg_55" id="art55">
            <div class="mw dc">
              <h2>
                <strong>
                Si funksionon një
                </strong>
                dietë ketogjenike dhe Keto Light?
              </h2>
              <p class="after__title">
                Parimi i veprimit bazohet në aftësinë e trupit tonë për të marrë energji jo vetëm nga karbohidratet, por edhe nga yndyrat.
              </p>
            </div>
          </section>
          <section id="art5">
            <div class="mw dc">
              <ul class="type_5 cards is-grid">
                <li>
                  <figure>
                    <img src="../assets/img/a5-1.png">
                    <figcaption>
                      <p>
                        Kur ndalojmë konsumimin e karbohidrateve dhe fillojmë të hamë shumë yndyrë, metabolizmi ynë rindërtohet.
                      </p>
                      <p>
                        <strong>
                        Në mëlçi prodhohen substanca speciale - trupa ketoni të
                        </strong>
                        dizajnuar për të ndarë yndyrën. Kjo është baza e dietës ketogjenike.
                      </p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="../assets/img/a5-2.png">
                    <figcaption>
                      <p>
                        Sidoqoftë, shkencëtarët nga Instituti Gjerman i të Ushqyerit Njerëzor shkuan një hap më tej duke krijuar një ilaç të veçantë që përmbante
                        <strong>
                        substanca natyrale të ngjashme në veprim me trupat ketonikë.
                        </strong>
                      </p>
                      <p>
                        Ata gjithashtu synojnë të djegien e yndyrës.
                      </p>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
          </section> -->
          <!-- / How it works -->

          <!-- Order Section 2 -->
          <!-- <section id="art6">
            <div class="mw is-grid">
              <div class="col c-6">
                <figure>
                  <img src="../assets/img/a6.png" style="border-radius: 13px;">
                </figure>
              </div>
              <div class="col c-6">
                <h3>
                  <strong>
                  Trupat e ketonikë  janë
                  </strong>
                  themeli i Keto Light, prandaj të gjithë humbasin peshë me këtë pluhur!
                </h3>
                <p>
                  Këto substanca nxirren nga komponentët natyrorë, prandaj nuk dëmtojnë organizmin dhe, për më tepër, ato kanë një efikasitet jashtëzakonisht të lartë (për të cilin ata i tejkalojnë trupat e tyre ketone me më shumë se 15 herë!).
                </p>
                <p>
                  <strong>
                  Studimet klinike kanë treguar
                  </strong>
                  që kur ato merren, pesha fillon të ulet me shpejtësi dhe me 100% efikasitet
                </p>
                <button class="btn type_0 modal ever-popup-btn" href="#">
                Porosisni Keto Light me cmim Promocional
                </button>
              </div>
            </div>
          </section> -->
          <!-- / Order Section 2 -->

          <!-- Fazat e humbjes se peshes -->
          <!-- <section class="bg_77" id="art77">
            <div class="mw dc">
              <h2>
                <strong>
                Fazat e humbjes së peshës
                </strong>
                me Keto Light
              </h2>
              <p class="after__title">
                Cikli i dobësimit me pluhurin Keto Light mund të përsëritet disa herë deri në arritjen e formës së dëshiruar.
              </p>
            </div>
          </section>
          <section id="art7">
            <div class="mw dc">
              <ul class="type_6 cards is-grid">
                <li>
                  <figure>
                    <img src="../assets/img/a7-1.png">
                    <figcaption>
                      <ul class="list marked marked2">
                        <li>
                          <strong>
                          Riorganizimi i trupit
                          </strong>
                          për të djegur në mënyrë aktive yndyrën
                        </li>
                        <li>
                          Deri në fund të javës,
                          <strong>
                          <span style="white-space: nowrap">1-2 kg</span>
                          zhduken
                          </strong><br>
                          automatikisht<br>
                        </li>
                        <li>
                          <strong>
                          Ulje e
                          </strong>
                          oreksit dhe urisë
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="../assets/img/a7-2.png">
                    <figcaption>
                      <ul class="list marked marked2">
                        <li>
                          <strong>
                          Nxitja e djegies së yndyrnave
                          </strong>
                          në bark
                          <br>
                        </li>
                        <li>
                          Pesha fillon të largohet
                          <strong>
                          shpejt
                          </strong>
                        </li>
                        <li>
                          <strong>
                          Energjia
                          </strong>
                          shtohet, humori përmirësohet
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="../assets/img/a7-3.png">
                    <figcaption>
                      <ul class="list marked marked2">
                        <li>
                          <strong>
                          Djegia e yndyrnave aktive
                          </strong>
                          në të gjithë pjesët e trupit
                        </li>
                        <li>
                          Rezultate të dukshme cdo ditë
                        </li>
                        <li>
                          Yndyra largohet nga
                          <strong>
                          zonat problematike
                          </strong>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="../assets/img/a7-4.png">
                    <figcaption>
                      <ul class="list marked marked2">
                        <li>
                          <strong>
                          Hollim i dukshëm
                          </strong>
                        </li>
                        <li>
                          Theksim i belit dhe hollimi i fytyrës
                        </li>
                        <li>
                          <strong>
                          Zhvillohen zakone
                          </strong>
                          të shëndetshme ushqimore
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
          </section> -->
          <!-- / Fazat e humbjes se peshes -->

          <!-- Efekte te tjera -->
          <!-- <section id="art8">
            <div class="mw dc">
              <h2>
                Veprime të tjera të dobishme të
                <span>
                <br>
                Keto Light në trup
                </span>
              </h2>
            </div>
            <div class="mw is-grid">
              <div class="col c-4">
                <figure class="other">
                  <img src="../assets/img/a8.png">
                  <button class="btn type_0 modal ever-popup-btn first-btn" style="width: 100%;" href="#">
                  Porosit Keto Light me cmim Promocional
                  </button>
                </figure>
              </div>
              <div class="col c-4">
                <ul class="cards is-grid type_88">
                  <li>
                    <figure>
                      <img src="../assets/img/a8-4.png">
                    </figure>
                    <p class="other">
                      Zbut celulitin
                    </p>
                  </li>
                  <li>
                    <p class="h order2">
                      Stimulon pastrimin aktiv dhe detoksifikimin në nivel qelizor
                    </p>
                    <figure class="order1">
                      <img src="../assets/img/a8-5.png">
                    </figure>
                  </li>
                  <li>
                    <figure>
                      <img src="../assets/img/a8-6.png">
                    </figure>
                    <p class="other">
                      Normalizon ekuilibrin ujë-kripëra dhe lehtëson edemën
                    </p>
                  </li>
                </ul>
                <button class="btn type_0 modal ever-popup-btn second-btn" href="#">
                Ordinare Keto Light per Promozione
                </button>
              </div>
            </div>
          </section> -->
          <!-- / Efekte te tjera -->

          <!-- Pros -->
          <!-- <section class="bg_10" id="art10">
            <div class="mw dc">
              <h2>
                Keto Light: humbja me e rehatshme e peshës për këdo<br>
                që ndjek një dietë ketogjenike
              </h2>
              <div class="mw"></div>
              <ul class="cards is-grid type_9">
                <li>
                  <figure>
                    <img src="../assets/img/a10-1.png" class="not">
                    <figcaption>
                      <p>
                        Pa oreks
                      </p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="../assets/img/a10-3.png" class="not">
                    <figcaption>
                      <p>
                        Pa aktivitet fizik
                      </p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="../assets/img/a10-4.png" class="not">
                    <figcaption>
                      <p>
                        Pa dëme të shëndetit
                      </p>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
          </section> -->
          <!-- / Pros -->

          <!-- Mendimi i eksperteve -->
          <!-- <section class="bg_11" id="art11">
            <div class="mw is-grid">
              <div class="col c-7">
                <h2>
                  Mendimi i ekspertëve
                  <span>
                  nutricionistë
                  </span>
                </h2>
                <p class="after__title">Richard Groote, një nutricionist i njohur britanik, përvojë praktike - më shumë se 30 vjet</p>
                <div class="other">
                  <figure>
                    <img src="../assets/img/a11.png" class="not expert">
                    <figcaption>
                      <p class="mt" style="font-size: 17px;">
                        " Deri tani, Keto Light është mënyra më e mirë për të humbur peshë sot. Përparësia e saj kryesore është se është një mënyrë shumë e thjeshtë. Thjesht merrni pluhurin Keto Light sipas udhëzimeve dhe përmbajuni në një dietë ketogjenike për të parë se si kilogramët e akumuluar largohen brenda disa ditësh. Dhe me përfitime shëndetësore.
                      </p>
                      <p style="font-size: 17px;">
                        Së fundmi është Keto Light që ju rekomandoj të gjithë pacientëve të mi që i përmbahen dietës keto, dhe vlerësimet për këtë humbje peshe janë  pozitive. Pluhuri i ndihmon të gjithë! Nëse nuk e keni provuar Keto Light, ju rekomandoj ta bëni sa më shpejt të jetë e mundur. Keto Light është në gjendje t’ju surprizojë këndshëm. "
                      </p>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col c-5">
                <div class="mw">
                  <figure class="h">
                    <img src="../assets/img/produc1t.png" class="not product">
                  </figure>
                </div>
              </div>
            </div>
          </section> -->
          <!-- / Mendimi i eksperteve -->

          <!-- Krahasim me mjete te tjera-->
          <!-- <section class="bg_112" id="art012">
            <div class="mw is-grid">
              <div class="col c-6">
                <h2>
                  <strong>
                  Krahasimi i
                  </strong>
                  Keto Light
                </h2>
                <p class="after__title">
                  Me mjete të tjera për humbjen e peshës
                </p>
              </div>
              <div class="col c-6 other">
                <button class="btn type_0 modal ever-popup-btn" href="#">
                Porosit Keto Light me cmim Promocional
                </button>
              </div>
            </div>
          </section> -->
          <!-- / Krahasim me mjete te tjera-->

          <!-- Tabele krahasimi -->
          <!-- <section class="bg_12" id="art12">
            <div class="mw">
              <div class="table type_1 main-table">
                <div class="features dn">
                  <div class="empty"></div>
                  <div class="param">
                    <h6>Mund të humbisni peshë shpejt</h6>
                  </div>
                  <div class="param">
                    <h6>Dobësim totalisht automatik</h6>
                  </div>
                  <div class="param">
                    <h6>Me benefite për shëndetin</h6>
                  </div>
                  <div class="param">
                    <h6>Pa uri dhe torturë</h6>
                  </div>
                  <div class="param">
                    <h6>Dhjami rreth organeve të brendshme zhduket</h6>
                  </div>
                  <div class="param">
                    <h6>Cmim i arsyeshëm</h6>
                  </div>
                </div>
                <div class="cols" style="overflow: hidden; direction: ltr; cursor: -webkit-grab;"><div style="width: 486px; transition: all 200ms ease-out 0s; transform: translate3d(0px, 0px, 0px);"><div style="float: left; width: 33.3333%;"><div class="col">
                    <div>
                      <h5>Aktivitet fizik dhe dieta</h5>
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/plus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/plus.svg">
                    </div>
                  </div></div><div style="float: left; width: 33.3333%;"><div class="col second">
                    <div>
                      <h5>Integratorë ushqimorë</h5>
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/plus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/plus.svg">
                    </div>
                  </div></div><div style="float: left; width: 33.3333%;"><div class="col bn third">
                    <div>
                      <h5>Ndërhyrje<br>kirurgjike</h5>
                    </div>
                    <div>
                      <img src="../assets/img/plus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/plus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                    <div>
                      <img src="../assets/img/minus.svg">
                    </div>
                  </div></div></div></div>
                <div class="col features">
                  <div>
                    <h5>Perdorimi i produktit tone per dobesim Keto Light</h5>
                  </div>
                  <div>
                    <img src="../assets/img/plus.svg">
                  </div>
                  <div>
                    <img src="../assets/img/plus.svg">
                  </div>
                  <div>
                    <img src="../assets/img/plus.svg">
                  </div>
                  <div>
                    <img src="../assets/img/plus.svg">
                  </div>
                  <div>
                    <img src="../assets/img/plus.svg">
                  </div>
                  <div>
                    <img src="../assets/img/plus.svg">
                  </div>
                </div>
              </div>
              <div class="text-absolute">
                <h6>Mund të humbisni peshë shpejt</h6>
                <h6>Dobësim totalisht automatik</h6>
                <h6>Me benefite për shëndetin</h6>
                <h6>Pa uri dhe torturë</h6>
                <h6>Dhjami rreth organeve të brendshme zhduket</h6>
                <h6>Cmim i arsyeshëm</h6>
              </div>
              <div class="scc">
                <button class="table-prev"></button>
                <button class="table-next"></button>
              </div>
            </div>
          </section> -->
          <!-- / Tabele krahasimi -->

          <!-- Customer experience Slide -->
          <!-- <section class="bg_13" id="art13">
            <div class="mw dc">
              <h2>
                <strong>
                Vlerësimet e atyre
                </strong>
                që e kanë provuar
              </h2>
            </div>
            <div class="mw dc">
              <div class="scw rew">
                <ul id="reviews">
                  <li>
                    <figure>
                      <img src="../assets/img/ava1.png" style="max-width: 120px;">
                      <figcaption>
                        <h5>
                          Marjana
                          <span class="color_alt">
                          <br>
                          29 vjece, Shkodër
                          <br>
                          </span>
                        </h5>
                      </figcaption>
                    </figure>
                    <article>
                      <p>"Ilaçi është super !!! Unë kurrë nuk kisha humbur peshë aq shumë sa me të. I shpejtë dhe i lehtë. Kam humbur 18 kg. Kam vuajtur nga pesha e tepërt për më shumë se 10 vjet, të cilën  s'e kam provuar vetëm unë. Disa dieta më kanë ndihmuar, por më pas pesha kthehej përsëri. Më e efektshmja ishte dieta me Keto Light. Efekti është super! Ia rekomandova Keto Light shoqes sime. Ajo gjithashtu humbi pothuajse 24 kg me ndihmën e saj! ”</p>
                      <figure>
                        <img src="../assets/img/r1.png">
                      </figure>
                    </article>
                  </li>
                  <li>
                    <figure>
                      <img src="../assets/img/ava2.png" style="max-width: 120px;">
                      <figcaption>
                        <h5>
                          Luiza
                          <br>
                          <span class="color_alt">
                          55 vjece, Pukë
                          </span>
                          <br>
                        </h5>
                      </figcaption>
                    </figure>
                    <article>
                      <p>"Unë jam 55 vjeç. Nga mbipesha kam vuajtur prej 41 vitesh. Në periudhat më të këqija, pesha ishte 117 kg. Në vitin e fundit, shëndeti ishte përkeqësuar Doktori tha se ishte e nevojshme të humbisja peshë urgjentisht, sepse as zemra nuk mund të duronte më, dhe as artikolacionet. Unë provova dietën keto me pluhurin Keto Light. Për të qenë e sinqertë, me të vërtetë nuk besoja se kjo metodë do të më ndihmonte. Por në fund të fundit, humba gati 30 kg. Mora 1 kurs Keto Light. Tani shëndeti im është më i mirë. Jam shumë e lumtur me rezultatin, do të porosis një tjetër Keto Light "</p>
                      <figure>
                        <img src="../assets/img/r2.png">
                      </figure>
                    </article>
                  </li>
                  <li>
                    <figure>
                      <img src="../assets/img/ava3.png" style="max-width: 120px;">
                      <figcaption>
                        <h5>
                          Kristjana
                          <span class="color_alt">
                          <br>
                          34 vjece, Berat <span style="white-space: nowrap">Parma</span>
                          <br>
                          </span>
                        </h5>
                      </figcaption>
                    </figure>
                    <article>
                      <p>"Më pëlqeu të humbja peshë me Keto Light sepse nuk ke nevojë të bësh asgjë. Vetëm ndiqni një dietë me keto, pijeni pluhur me ujë dhe humbni peshë. Unë nuk gjeta ndonjë efekt negativ në trup. Përkundrazi kisha shumë energji, fillova të flija më mirë, lëkura u përmirësua, aknet që më kishin shqetësuar më parë tani janë zhdukur, celuliti është zhdukur! Kam humbur 11 kg në 1 muaj. Më pëlqeu gjithçka. Do të vazhdoj ta përdor Keto Light më tej. Unë ua rekomandoj të gjithëve "</p>
                      <figure>
                        <img src="../assets/img/r3.png">
                      </figure>
                    </article>
                  </li>
                </ul>
                <div class="scc">
                  <button class="prev"></button>
                  <button class="next"></button>
                </div>
              </div>
            </div>
          </section> -->
          <!-- / Customer experience Slide -->

          <!-- Foto te produktit -->
          <!-- <section class="photo">
            <div class="mw dc">
              <h2>Foto të produkteve origjinale <strong>Keto Light</strong></h2>
              <div class="gallery photo-gallery">
                <span class="gallery-item"><img src="../assets/img/gallery1.jpg" alt="" data-img="1"></span>
                <span class="gallery-item"><img src="../assets/img/gallery2.jpg" alt="" data-img="2"></span>
                <span class="gallery-item"><img src="../assets/img/gallery3.jpg" alt="" data-img="3"></span>
                <span class="gallery-item"><img src="../assets/img/gallery4.jpg" alt="" data-img="4"></span>
              </div>
              <div class="gallery-popup">
                <span class="popup-item">
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </span>
                <button title="Previous (Left arrow key)" type="button" class="mfp-arrow mfp-arrow-left mfp-prevent-close"></button>
                <button title="Next (Right arrow key)" type="button" class="mfp-arrow mfp-arrow-right mfp-prevent-close"></button>
              </div>
            </div>
          </section> -->
          <!-- / Foto te produktit -->

          <!-- User Guide -->
          <!-- <section class="bg_114" id="art014">
            <div class="mw dc">
              <h2>
                <strong>
                Përdorim i lehtë i
                </strong>
                Keto Light
              </h2>
              <p class="after__title">
                Pesha nis të pakësohet që pas 2-3 ditësh nga fillimi i kursit
              </p>
            </div>
          </section>
          <section class="bg_14" id="art14">
            <div class="mw">
              <ul class="cards is-grid type_11">
                <li>
                  <figure>
                    <div class="how-to">
                      <img src="../assets/img/a14-1.svg" class="not">
                      <div class="how-to-txt">
                        dozat
                      </div>
                    </div>
                    <figcaption>
                      <p>1 dozë</p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <div class="how-to">
                      <img src="../assets/img/a14-2.svg" class="not" style="max-width: 100px;">
                      <div class="how-to-txt">
                        Ujë
                      </div>
                    </div>
                    <figcaption>
                      <p>E shkrijmë pluhurin në ujë</p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <div class="how-to">
                      <img src="../assets/img/a14-31.png" class="not" style="max-width: 100px;">
                      <div class="how-to-txt">
                        në ditë
                      </div>
                    </div>
                    <figcaption>
                      <p>
                        Të përsëritet 3 herë
                        <br>
                        në ditë
                        <br>
                      </p>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
          </section> -->
          <!-- / User Guide -->

          <!-- How to order -->
          <!-- <section class="bg_116" id="art016">
            <div class="mw is-grid">
              <div class="col c-6">
                <h2>
                  <strong>
                  Si të porosisni
                  </strong>
                  Keto Light
                </h2>
                <p class="after__title">
                  Suksesi botëror në fushën e dietave është tani edhe në Shqipëri
                </p>
              </div>
              <div class="col c-6 other">
                <button class="btn type_0 modal ever-popup-btn" href="#">
                Porosit Keto Light më cmim Promocional
                </button>
              </div>
            </div>
          </section>
          <section class="bg_16" id="art16">
            <div class="mw dc">
              <ul class="cards is-grid type_13">
                <li>
                  <figure>
                    <div class="delivery-to">
                      <img src="../assets/img/a16-1.svg">
                      <div class="delivery-to-txt">
                        Kërkesë
                      </div>
                    </div>
                    <figcaption>
                      <p>Bëj një kërkesë në këtë faqe duke specifikuar numrin e telefonit</p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <div class="delivery-to">
                      <img src="../assets/img/a16-2.svg">
                      <div class="delivery-to-txt">
                        Telefonata
                      </div>
                    </div>
                    <figcaption>
                      <p>Do t'ju telefonojmë për të specifikuar adresën e dorëzimit</p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <div class="delivery-to">
                      <img src="../assets/img/a16-3.svg">
                      <div class="delivery-to-txt">
                        Dorëzimi
                      </div>
                    </div>
                    <figcaption>
                      <p>Dorëzimi i mallit bëhet me korrier</p>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <div class="delivery-to">
                      <img src="../assets/img/a16-4.svg">
                      <div class="delivery-to-txt">
                        Marrja e mallit
                      </div>
                    </div>
                    <figcaption>
                      <p>Korrieri e dërgon pakon në adresën tuaj</p>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </div>
          </section> -->
          <!-- / How to order -->

        </main>
        <!-- / Content -->
        <!-- / Main -->

        <!-- Footer -->
		    <app-header></app-header>
        <!-- / Footer -->
