        <!-- Red Covid Info -->
          <app-covid-warning></app-covid-warning>
        <!-- / Red Covid Info -->

        <!-- Top Banner -->
          <app-top-banner></app-top-banner>
        <!-- / Top Banner -->

        <!-- Header -->
          <app-header></app-header>
        <!-- / Header -->

        <!-- Contains -->
          <app-contains></app-contains>
        <!-- /Contains -->
        <!-- Human Body Section-->
          <app-human-body></app-human-body>
        <!-- /Human Body -->

        <!-- Before-After Section -->
          <app-before-after></app-before-after>
        <!-- /Before-After Section -->

        <!-- Experts Section -->
          <app-experts></app-experts>
        <!-- /Experts Section -->

        <!-- Spin Wheel -->

        <!-- /Spin Wheel -->

        <!-- Footer -->
        <app-header></app-header>
        <app-footer></app-footer>
        <!-- / Footer -->
