<div class="form">
  <form action="/land/order" method="post" class="x_order_form al-form">
    <h5 class="w_700">
      Porositni përpara se afati të  <br> skadojë dhe merrni një zbritje prej
      <br>
    </h5>
    <div class="timer_container ">
      <div class="timer">
        <div class="item-timer ih">
          <span class="d_hours"></span>
          <span class="d_hours"></span>
        </div>
        <div class="item-timer im">
          <span class="d_minutes"></span>
          <span class="d_minutes"></span>
        </div>
        <div class="item-timer is">
          <span class="d_seconds"></span>
          <span class="d_seconds"></span>
        </div>
      </div>
    </div>
    <span class="price w_700">
    <span class="old x_price_previous al-raw-cost-promo"></span><span class="old x_currency al-raw-currency">&euro;</span>
    <span class="new">
    <span class="x_price_current al-raw-cost"></span><span class="new x_currency al-raw-currency">&euro;</span>*</span>
    </span>
    <select class="al-country" name="country" ></select>
    <div><input placeholder="Emër Mbiemër" name="name" type="text"></div>
    <div><input placeholder="Numër telefoni" name="phone" type="tel"></div>
    <input type="submit" value="Porositeni Keto Light">
    <p>* zbritje 50%</p>
  </form>
</div>
