<div class="container">
  <div class="countdown">
    <countdown [config]="{leftTime: 6942.0 - currTime}"></countdown>
  </div>

  <div class="price">
    <h5>
      Porosisni përpara se afati të skadojë <br>
      dhe merrni një zbritje prej:
    </h5>
    <span class="old-price strikethrough">{{ oldPrice }}&euro;</span>
    <span class="new-price">{{ newPrice }}&euro;*</span>
  </div>

  <form action="/land/order" method="post">
    <div>
      <select name="country" class="input">
        <option value="Albania">Shqipëri</option>
        <option value="Kosovo">Kosovë</option>
      </select>
    </div>
    <div>
      <input placeholder="Emër Mbiemër" name="name" type="text" class="input">
    </div>
    <div>
      <input placeholder="Numër telefoni" name="phone" type="tel" class="input">
    </div>
    <div>
      <input type="submit" value="Porosisni SLIM FIT" class="button">
    </div>
  </form>
  <p class="zbritje">* zbritje 50%</p>

</div>
