<div class="container">
  <div class="wrapper">
    <div class="title">
      <h1>Kliente te kenaqura:</h1>
      <p><b>Shikoni rezultatet</b> e dobesimit te klienteve qe perdorin SLIM FIT.</p>
    </div>
    <div class="cards">
      <div class="case">
        <img src="../../assets/img/case1.jpg">
        <div class="text">
          <h1 class="name">Ina</h1>
          <h3 class="age">26 vjec</h3>
          <p class="words">E detyroja veten shume here te shkoja ne palester, te merresha me sport apo te rrija pa ngrene per tu dobesuar.
            Por, shpesh nuk e mbaja dot veten.
            Tani, fale Slim Fit di si te dobesohem me plot shije dhe kenaqesi!</p>
        </div>
      </div>
      <div class="case">
        <img src="../../assets/img/case2.jpg">
        <div class="text">
          <h1 class="name">Eva</h1>
          <h3 class="age">29 vjec</h3>
          <p class="words">Duke qene se jam nje nene qe i jap gji femijes,
            jo te gjithe produktet per dobesim lejohen te perdoren.
            Kokteili Slim Fit eshte natyral, i shijshem,
            ipoalergjik dhe per kete arsye e zgjodha.
            Mbeta shume e kenaqur me rezultatet!</p>
        </div>
      </div>
      <div class="case">
        <img src="../../assets/img/case3.jpg">
        <div class="text">
          <h1 class="name">Grida</h1>
          <h3 class="age">23 vjec</h3>
          <p class="words">Dieta e çekuilibruar ishta shkaku i peshes time te tepert.
            Por me orarin tim, nuk kam kohe per te shkuar ne palester.
            Slim Fit eshte kudo me mua.
            E perdor ne shtepi, pune deri sa arrita rezultatin dhe harmonine e deshiruar.</p>
        </div>
      </div>
    </div>
  </div>
</div>
