<section class="bg_3 invert text__color-inversion" id="art3">
				<div class="mw dc">
					<h2><b>Shikoni rezultatet</b>e dobësimit të klientëve tanë që përdorin Keto Luce me dietën ketogjentike</h2>
					<p class="after__title">Avantazhi kryesor i Keto Light është që pluhuri aktivizon në mënyrë <b>të sigurtë</b>proceset natyrale të djegies së yndyrnave në trupin e njeriut.</p>
				</div>
				<div class="mw">
					<ul class="cards is-grid type_3">
						<li>
							<figure>
								<img src="../../img/a3-1.png">
							</figure>
						</li>
						<li>
							<figure>
								<img src="../../img/a3-2.png">
							</figure>
						</li>
						<li>
							<figure>
								<img src="../../img/a3-3.png">
							</figure>
						</li>
					</ul>
				</div>
			</section>
