<div class="container">
  <div class="wrapper">
    <div class="top">
      <h1>Mendimi i nje eksperti nutricionist</h1>
    </div>

      <div class="testimony">
        <div class="img">
          <img src="../../assets/img/nutritionist.jpg">
          <p><b>Earl Lawrence Mindell</b>, një nutricionist i njohur Kanadez, përvojë praktike - më shumë se 43 vjet</p>
        </div>
        <div class="text">
          <p>"Deri tani, <b>SlimFit</b> është mënyra më e mirë për të humbur peshë sot.
            Përparësia e saj kryesore është se është një mënyrë shumë e thjeshtë.
            Thjesht merrni pluhurin Slim Fit sipas udhëzimeve dhe përmbajuni në një dietë
            ketogjenike për të parë se si kilogramët e akumuluar largohen brenda disa ditësh.
            Dhe me përfitime shëndetësore.
            <br>
            <br>
            Së fundmi është <b>SlimFit</b> që ju rekomandoj të gjithë pacientëve të mi që i përmbahen
            dietës keto, dhe vlerësimet për këtë humbje peshe janë pozitive.
            Pluhuri i ndihmon të gjithë! Nëse nuk e keni provuar Slim Fit, ju rekomandoj ta
            bëni sa më shpejt të jetë e mundur. Slim Fit është në gjendje t’ju surprizojë këndshëm."</p>
        </div>
    </div>
  </div>
</div>
